body{
    margin: 0px;
    font-family: sans-serif;
}

nav{
  /*  background-image: linear-gradient(to bottom,  #888, #bbb);*/
    background-color: #bbbbf1;
    width: 100%;
    height: 30px;
    position: fixed ;
    padding-left: 5px;
    padding-top: 5px;

}

nav a {
    background-color: #8888ff;
   /*border: 1px solid #888;*/
    border-radius: .3em;
    color: #FFF;
    padding: 1px 4px;
    text-decoration: none;
    font-size: 22px;
}

nav a:hover{
    background-color: #6464db;
}

nav > .gombok {
			float: right;
			margin-right: 10px;
}

h3{
	margin-top: 0;
}

#main{
		width: 100%;
		display: block;
		float: left;
		margin-top: 45px;
}

#bal_oldal{
			
			width: 60%;
			height: 500px;
			display: block;
			float: left;
}

#jobb_oldal{
			width: 40%;
			display: block;
			float: left;
			outline: solid 1px;			
}

.post{
		background-color: #eee;
		margin-left: 10px;
		margin-bottom: 10px;
}

.main_comment{
				background-color: #ddd;
				margin-top: 10px;
				padding: 5px;
}

.comment{
		background-color: #ccc;
}

.comment :first-child {
			text-transform: capitalize;
			font-weight: bold;
			margin: 0px;
			padding: 0px;
}

.post > p:first-of-type {
    float: right;
	position: relative;
	top: -55px;
	right: 5px;
}

.like {
		margin: 0;
		padding: 0;
		font-size: 14px;
}