@charset "UTF-8";
.article {
    display: block;
    box-sizing: border-box;
    height: 140px;
    position: relative;
    padding: 25px 10px 25px 20px;
    overflow: hidden;
    outline-style: solid;
    outline-width: 4px;
    outline-color: #ecf0f1;
    border-bottom: solid 5px #ECF0FF;
}

body {
    background-color: #ecf0f1;
}

.btn-default {
    background-color: #29abd7;
    border: none;
    color: white;
}

.btn-default:hover {
    color: black;
    background-color: #29abd7;
}

.clearfix {
    clear: both;
}

.comment {
    color: #9ea6ab;
    font-size: 1em;
}

.contentArticle {
    position: absolute;
    left: 43px;
    padding-right: 80px;
    padding-left: 25px;
}

.firstRightMain {
    width: 320px;
    height: 190px;
    background-color: #00a3d9;
}

.firstRightMain div:first-child span {
    background-color: #29abd7;
    font-size: large;
}

#footer {
    height: 100px;
    background-color: #00a3d9;
    color: white;
    padding: 10px;
}

#footer hr {
    margin-top: 0px;
}

.left {
    float: left;
}

.left ul {
    list-style-type: none;
}

.left ul :first-child {
    margin-left: -40px;
}

.left li {
    float: left;
}

.left li :before {
    content: '• ';
}

.left li a {
    display: block;
    padding-left: 45px;
    text-decoration: none;
    color: white;
}

.right {
    float: right;
}

.right span {
    padding: 5px;
    font-size: x-large;
}

.glyphicon-share-alt {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    left: -13px;
}

header {
    background-color: #00a3d9;
    height: 70px;
}

div.infoArticle {
    padding-top: 5px;
}

div.infoArticle:first-child {
    padding-top: 25px;
}

.imageUser {
    width: 43px;
    height: 48px;
}

.label-primary {
    background-color: #00a3d9;
    padding: 4px;
}

.leftAuthor {
    width: 30px;
    float: left;
    height: inherit;
}

#leftContent {
    padding: 1em;
    padding-top: 2em;
    margin-left: -2em;
}

#leftMain {
    background-color: #ffffff;
}

#leftSpace {
    background-color: #ecf0f1;
}

.login {
    padding-left: 20px;
    background-color: #00a3d9;
    margin: 10px;
    border: none;
    color: white;
    font-style: normal;
}

.login:hover {
    color: black;
}

#loginClass {
    background-color: #00a3d9;
    border: none;
}

.glyphicon-ok {
    padding-top: 1em;
    padding-left: 1em;
    color: #9ea6ab;
}

.modButton {
    position: relative;
    top: 0;
    left: -6px;
}

.pull-left {
    padding-top: 15px;
    padding-left: 6%;
}

.pull-right {
    padding-top: 8px;
}

#rightContent {
    padding-top: 2em;
}

.rightInfo {
    position: absolute;
    right: 0;
    top: 4px;
    height: inherit;
    width: 90px;
    padding-left: 8px;
    font-size: smaller;
    color: #9ea6ab;
    border-left: solid 1px #ECF0FF;
}

hr {
    color: #29abd7;
}

#rightMain {
    color: white;
}

#rightMain div hr {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #29abd7;
}

#rightSpace {
    background-color: #ecf0f1;
}

.secondRightMain {
    margin-top: 10px;
    width: 320px;
    height: 175px;
    background-color: #00a3d9;
}

#srch-term {
    background-color: #29abd7;
    border: none;
    color: white;
}

.thirdRightMain {
    margin-top: 10px;
    width: 320px;
    height: 145px;
    background-color: #00a3d9;
}

.title {
    font-size: x-large;
    float: left;
    font-style: italic;
    color: white;
}

.titleArticle {
    display: block;
    text-transform: uppercase;
    font-weight: bolder;
    color: #00a3d9;
    padding-bottom: 6px;
}

.titleRightSide {
    padding: 20px;
    font-weight: bolder;
}

.titleRightSide span {
    float: right;
    color: #81d2ec;
}

.titleUnder {
    display: inline-block;
}

.themeFirstRightMain {
    padding: 10px 20px;
}

.themeFirstRightMain span {
    float: right;
}

#middleDivInSecondRightMain {
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.secondRightMain .row {
    text-align: center;
}

.secondRightMain .row div:first-child {
    padding-top: 10px;
}

.secondRightMain .row div {
    padding: 5px;
}

.secondRightMain .row span {
    font-size: xx-large;
}

.thirdRightMain .row {
    text-align: center;
}

.thirdRightMain .row div {
    padding: 5px 0px 7px 0px;
}

.thirdRightMain .row div span {
    font-size: x-large;
}

#loginThirdRightMain {
    border-right: solid 1px white;
}

.square {
    width: 20px;
    height: 15px;
    color: #00a3d9;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    text-wrap: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template {
    display: none;
}

.modal {
    display: none;
    background-color: wheat;
}

.deleteTopic {
    float: right;
}

.modModal {
    display: none;
    background-color: #4cae4c;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
