body {
  background-color: #ECF0F1;
  color: #fff; }

header {
  background-color: #00a3d9;
  font-size: 33px;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0.5em;
  height: 10%; }
  header #headbar {
    padding-left: 10%;
    float: left;
    font-style: italic;
    letter-spacing: .03em; }
  header .search_login {
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding-right: 10%;
    font-size: 15px; }
    header .search_login #searchfield {
      background-color: #29ABD7;
      border: none;
      border-radius: 8px;
      size: 15px;
      width: 300px;
      height: 2.5em; }
    header .search_login .search {
      margin-left: -1.5em;
      margin-right: 1.5em;
      margin-top: 0.7em; }
    header .search_login #login {
      padding-top: .5em; }

.fa-check, .fa-comments-o, .fa-eye, .fa-mail-reply, .fa-clock-o, .fa-folder {
  color: #CBCDCE; }

.button {
  margin: 1em 0 0 10% !important;
  color: #00a3d9; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(236, 238, 241, 0.66); }
  .popup .form {
    display: flex;
    flex-flow: column;
    align-content: center;
    color: #00a3d9;
    padding: 10px 10%; }

.template {
  display: none; }

#container_for_everything {
  padding: 30px 10%;
  height: 80%;
  display: flex;
  flex-direction: row; }
  #container_for_everything .comments_container {
    color: #00a3d9;
    float: left;
    display: flex;
    flex-direction: column; }
    #container_for_everything .comments_container .comments {
      margin: 0 10px 10px;
      background-color: #fff;
      border-radius: .5em;
      display: flex;
      flex-direction: row; }
      #container_for_everything .comments_container .comments .remove {
        margin: 1em 1em 13em 1em; }
      #container_for_everything .comments_container .comments .edit {
        margin: 1em 1em 13em 0; }
      #container_for_everything .comments_container .comments span.remove:hover, #container_for_everything .comments_container .comments span.edit:hover, #container_for_everything .comments_container .comments span.search:hover {
        color: red; }
      #container_for_everything .comments_container .comments .img_check {
        float: left;
        display: flex;
        flex-flow: column;
        margin: 20px; }
        #container_for_everything .comments_container .comments .img_check div {
          border-top: solid 1px #CBCDCE; }
        #container_for_everything .comments_container .comments .img_check .fa-check {
          padding: 15px; }
      #container_for_everything .comments_container .comments .text {
        width: 80%; }
        #container_for_everything .comments_container .comments .text .panel-title {
          padding-top: 1.5em;
          font-weight: bolder;
          font-size: 15px; }
        #container_for_everything .comments_container .comments .text .comments_text {
          color: #CBCDCE; }
        #container_for_everything .comments_container .comments .text div div {
          background-color: #00a3d9;
          margin: 1em 0;
          padding: .3em;
          height: 1.7em;
          border-radius: 2px;
          font-size: 12px;
          color: #fff; }
      #container_for_everything .comments_container .comments .info {
        width: 20%;
        float: right;
        display: flex;
        flex-flow: column;
        border-left: solid 1px #CBCDCE;
        padding: 1.5em 0.5em; }
        #container_for_everything .comments_container .comments .info span {
          margin-bottom: 1em; }
  #container_for_everything .other_things_container {
    display: flex;
    flex-flow: column;
    float: right; }
    #container_for_everything .other_things_container .categories, #container_for_everything .other_things_container .forum_statistic, #container_for_everything .other_things_container .todays_event {
      background-color: #00a3d9;
      font-family: sans-serif;
      padding: 18px;
      border-radius: .5em;
      margin: 0 10px 10px; }
    #container_for_everything .other_things_container .categories {
      display: flex;
      flex-flow: column; }
      #container_for_everything .other_things_container .categories .num {
        float: right;
        margin: -28px 4px 0 0;
        color: #00a3d9;
        position: relative;
        font-size: 10px;
        font-weight: bolder; }
      #container_for_everything .other_things_container .categories .glyphicon-stop {
        font-size: 120%;
        float: right;
        margin-top: -30px;
        color: #fff; }
    #container_for_everything .other_things_container .fa-folder, #container_for_everything .other_things_container .fa-bullhorn, #container_for_everything .other_things_container .fa-bar-chart {
      color: #81D2EC;
      font-size: 100%;
      float: right;
      margin-top: -30px; }
    #container_for_everything .other_things_container .fa-comments, #container_for_everything .other_things_container .fa-comments-o, #container_for_everything .other_things_container .fa-users, #container_for_everything .other_things_container .fa-sign-in {
      font-size: 150%;
      padding-left: 15%; }
    #container_for_everything .other_things_container .forum_statistic div {
      display: flex;
      flex-flow: row;
      justify-content: space-between; }
    #container_for_everything .other_things_container .forum_statistic .box {
      display: flex;
      flex-flow: column;
      padding-right: .5em; }
      #container_for_everything .other_things_container .forum_statistic .box span {
        margin-bottom: 0.5em;
        float: inherit; }
      #container_for_everything .other_things_container .forum_statistic .box .number {
        margin-left: 1.7em; }
    #container_for_everything .other_things_container .todays_event .box2 {
      display: flex;
      flex-flow: row; }
      #container_for_everything .other_things_container .todays_event .box2 #logins {
        padding-right: 1em; }
      #container_for_everything .other_things_container .todays_event .box2 #admin {
        float: right; }

h6, h3 {
  font-size: 15px;
  font-weight: bold; }

footer {
  background-color: #00a3d9;
  font-size: 12px;
  height: 10%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  footer .about {
    padding: 1em 10% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .about span {
      letter-spacing: 2em; }
  footer .rights {
    padding: 0 10% 1em;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  footer li {
    float: left;
    margin: 0 20px 0 0; }
  footer ul {
    padding-left: 20px; }
  footer hr {
    border-width: 1px;
    margin: 0 10%; }
