body{   margin: 0 auto 0 auto;
        text-align: center;
        background-color: black;
        color: white;
}

form{
    position: relative;
    top: 50px;
}

input{
    margin: 5px;
    width: 200px;
}

#gomb{
    width:80px;
}

h2{color: red;}
