body{
    margin: 0 auto 0 auto;
    background-color: black;
    color: white;
}

table, tr, th, td{
	border-collapse: collapse;
    border: solid 1px white;
}

td { 
	width: 80px;
}

#red {
	color: red;
	font-weight: bold;
}

.sunday{
    font-weight: bold;
	color: purple;
}