$theme-color: #00a3d9;
$body-background: #ecf0f1;
$white: #fff;
$input-background: #29abd7;
$input-border: #3aaed7;
$grey: #bec4c7;
$icon-blue: #81d2ec;
$header-border: #0797c7;

* {
  box-sizing: border-box;
  padding: .15em;

}

html {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: $body-background;
  margin: 0 auto;
  padding: 0;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.aic {
  align-items: center;
  -webkit-align-items: center;
}

.wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.jcsa {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.jcc {
  justify-content: center;
  -webkit-justify-content: center;
}

.jcfs {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.content {
  margin: 0 auto;
  max-width: 1150px;
}

.border-radius {
  border-radius: 5px;
}

button {
  background-color: $theme-color;
  border: none;
  color: $white;
  font-weight: bold;
}

.capitalise {
  text-transform: capitalize;
}

header {
  background-color: $theme-color;
  color: $white;
  h1 {
    font: {
      family: 'Open Sans', sans-serif;
      size: 2em;
      style: italic;
    }
    margin: auto;
    padding: 0;
  }
  #search-login {
    margin: auto;
    #search-bar {
      width: 90%;
    }
    input {
      width: 100%;
      position: relative;
      background-color: $input-background;
      border: 1px solid $input-border;
      padding: .5em 30px .5em .5em;
      &:-ms-input-placeholder, &:-moz-placeholder {
        color: $white;
      }
      &::-webkit-input-placeholder {
        color: $white;
      }
    }
    .glyphicon {
      position: relative;
      right: 30px;
    }
  }
}

#popup {
  background-color: rgba(0,0,0,0.85);
  color: $white;
  //display: none;
  height: 100%;
  width: 100%;
  padding-top: 4em;
  position: fixed;
  top: 0;
  z-index: 3;
  input {
    color: #555;
  }
  textarea{
    color: #555;
  }
  button {
    position: relative;
    left: 40%;
    font-weight: bold;
    padding: .5em;
    margin: .5em;
  }
}

#add-topic {
  button {
    margin: 1.25em 0 0 1em;
    padding: .25em 1em;
  }
}

#main {
  margin: 0 auto;
  .content-box {
    margin: 1em auto;
    width: 100%;
  }
  #topics {
    .template {
      //display: none;
    }
    .topic {
      background-color: $white;
      color: $grey;
      position: relative;
      .icons {
        display: inline;
        font-size: 1.25em;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        .vote:hover {
          color: $theme-color;
          cursor: pointer;
        }
        .modify:hover{
          color: #555;
          cursor: pointer;
        }
        .delete:hover {
          color: red;
          cursor: pointer;
        }
      }
      .data {
        border: 1px solid grey;
      }
      .profile-picture{
        width: 10%;
        img{
          border-bottom: 1px solid $body-background;
          padding: .25em;
          width: 87.5%;
        }
        .glyphicon-ok {
          font-size: 1.5em;
          padding: .6em;
        }
      }
      .topic-body {
        padding: .5em .5em 0;
        h1 {
          color: $theme-color;
          font-size: 1.5em;
          font-weight: bold;
          margin: 0 0 .25em;
          text-transform: uppercase;
        }
        p {
          margin: .5em .25em 0;
          padding-right: .75em;
          text-align: justify;
          &:first-letter {
            text-transform: uppercase;
          }
        }
        .time, .type {
          background-color: $theme-color;
          color: $white;
          font-size: .85em;
          display: inline;
          padding: .35em;
          text-transform: capitalize;
        }
        .created {
          margin: .25em;
        }
        .type {
          margin-left: .5em;
        }
      }
      .topic-stats {
        .topic-stats-item {
          margin: 0;
          padding: 0 .25em .25em;
        }
      }
    }
  }

  #stats {
    #categories:last-child {
      padding: .5em 1.5em 1.3em;
      border: none;
    }
    .stat-cont {
      background-color: $theme-color;
      color: $white;
      .row-item {
        padding: .5em 1.5em;
        border-bottom: 1px solid #0797c7;
      }
      .column-item {
        padding-bottom: 1em;
        width:33%;
        .fa {
          color: $white;
          font-size: 3em;
          margin-top: .25em;
          padding: .1em;
        }
        .smaller {
          font-size: 2em;
        }
        p {
          padding: .15em;
          margin: 0;
        }
      }
      .middle {
        border:{
          left: 1px solid $header-border;
          right: 1px solid $header-border;
        }
      }
      .double {
        border-left: 1px solid $header-border;
        width: 66%;
      }
    }
    .header {
      border-bottom: 1px solid $header-border;
      padding: 1em;
    }
    .header-icon {
      color: $icon-blue;
    }
    .counter {
      background-color: $white;
      color: $theme-color;
      padding: 0 .35em;
    }
  }
}

footer {
  background-color: $theme-color;
  color: $white;
  font-size: .8em;
  padding: .3em;
  #terms{
    margin-left: 10px;
  }
  #up {
    border-bottom: 1px solid $white;
  }
}