<div class="row">

    <div class="col-md-2">
        <span class="profilePicture"></span>
        <span class="glyphicon glyphicon-ok"></span>
    </div>
    <div class="col-md-5">
        <h4 class="text-uppercase title">{{topic.title}}</h4>
        <ul class="list-inline">
            <li class="date"><span class="glyphicon glyphicon-time "></span>{{topic.created}}</li>
            <li class="general"><i class="fa fa-folder"></i> {{topic.category}}</li>
        </ul>
        <p class="topicDescription">{{topic.brief}}</p>

    </div>
    <div class="col-md-5">
        <button class="btn btn-primary btn-xs delete" ng-click="delete()(topic)"><span
                class="glyphicon glyphicon-remove "></span></button>
        <button class="btn btn-primary btn-xs edit" ng-click="edit()(topic)"><span
                class="glyphicon glyphicon-edit "></span></button>
        <button class="btn btn-primary btn-xs likes" ng-click="saveLikes(topic)"><span
                class="glyphicon glyphicon-thumbs-up"></span> Like {{topic.numberOfLikes}}
        </button>

        <p><span class="glyphicon glyphicon-eye-open views"></span>{{topic.views}} Views</p>
        <p><i class="fa fa-comments-o reply"></i>{{topic.comments}} Reply</p>
        <p><span class="glyphicon glyphicon-time time"></span> {{'Thu Nov 24 2016 17:36:05'}}</p>
        <p><i class="fa fa-mail-reply replied"></i> {{topic.replied}} Minutes</p>
    </div>

</div>