
body{
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    background-color : #99eea6;
    display: inline-block;
    font-size: 22px;
    height:25px;
    left: 0;
    min-width:600px;
    padding: 10px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
}
nav a{
    background-color: #53ff52;
    border-radius: 7px;
    color: white;
    padding: 3px;
    text-decoration: none;
}
nav a:hover{
    background-color:#216d42;
}
button#name_button{
    padding: 3px;
    float: right;
    margin-right:15px;

}
.content{
    margin: 2px;
    position: relative;

}

#left{
    position: absolute;
    background-color: #baffc6;
    width:50%;
    left: 0;
    top: 50px;
    padding-bottom: 10px;

}
#right{
    position: absolute;
    right: 0;
    top: 50px;
    border: 1px solid black;
    background-color: white;
    width: 50%;
}

.article{
    background-color: whitesmoke;
    position: relative;
}
.topic_title{
    font-size: x-large;
    display: block;
}
.topic_data{
    padding-right: 2px;
    float: right;

}
.coments_content{
    background-color: #baffc6;
    padding: 10px;
}
.coment{
    margin:3px;
    background-color: #8bff7b;
}
.coment_user_name{
    font-weight: bold;
}
.joke_label{
    font-size: x-large;
}

.dropbtn {
    background-color:#53ff52;
    color: white;
    border-radius: 7px;
    padding: 3px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-flex;
    max-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 7px;

}

.dropdown-content a {
    color: white;
    padding: 3px;
    text-decoration: none;
    display: block;
    float: right;
}

.dropdown-content a:hover {
    background-color:  #216d42;
    overflow: auto;
    transition: all 2s;
}

.dropdown:hover .dropdown-content {
    display: inline-flex;
    align-items: flex-start;
    background-color: #216d42;
    /* display: inline-block;
     position: absolute;
     bottom: 2px;*/
}