
body{
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    background-color : #BBE;
    display: inline-block;
    font-size: 22px;
    height:25px;
    left: 0;
    min-width:480px;
    padding: 10px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
}
nav a{
    background-color:#88F ;
    border-radius: 7px;
    color: white;
    padding: 3px;
    text-decoration: none;
}
nav a:hover{
    background-color: #66F;
}
button#name_button{
    padding: 3px;
    float: right;
    margin-right:15px;

}
.content{
    margin: 2px;
    position: relative;
}

#left{
    position: absolute;
    background-color: #c7c2ff;
    width:50%;
    left: 0;
    top: 50px;
    padding-bottom: 10px;

}
#right{
    position: absolute;
    right: 0;
    top: 50px;
    border: 1px solid black;
    background-color: white;
    width: 50%;
}

.article{
    background-color: whitesmoke;
    position: relative;
}
.topic_title{
    font-size: x-large;
    display: block;
}
.topic_data{
    padding-right: 2px;
    position: absolute;
    right: 0;
    top: 0;

}
.coments_content{
    background-color: #e3e3ff;
    padding: 10px;
}
.coment{
    margin:3px;
    background-color: #c7c2ff;
}
.coment_user_name{
    font-weight: bold;
}
.joke_label{
    font-size: x-large;
}