body {

  background-color: #e6e6e6;

  header {
    background-color: rgb(0, 153, 217);
    height: 70px;

    .container {
      display: flex;
      justify-content: space-between;

      a {
        color: white;
        text-decoration: none;
        padding: 5px 25px;
      }

      .col-xs-3 {
        padding-top: 15px;
        display: flex;

        button {
          background-color: #00b3ee;
          border: 1px solid #00b3ee;
          color: white;
        }

        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    #8ED6ED;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    #8ED6ED;
          opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #8ED6ED;
          opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:    #8ED6ED;
        }

      }

    }

    p {
      color: white;
      font-size: 30px;
      font-style: oblique;
      font-family: 'Open Sans', sans-serif;
      margin: 10px;
    }


    .form-control {
      background-color: #00b3ee;
      border: 1px solid #00b3ee;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      color: white;
    }

  }
  //  ^ header end ^





  .container {
    display: flex;
    justify-content: space-around;
  }



  .topic {
    border: 1px solid white;
    border-radius: 2px;
    background-color: white;
    display: flex;
    margin: 10px;
    padding: 20px 0px 20px 20px;

     .tpc {
       padding: 0px 10px 0px 60px;
       width: 75%;

       div {
         display: flex;
         justify-content: flex-start;
         p {
           border: 1px solid rgb(0, 153, 217);
           border-radius: 2px;
           background-color: rgb(0, 153, 217);
           margin: 2px;
           padding: 2px;
           color: white;
           font-weight: bold;
           font-size: smaller;
         }
       }
     }

    h4 {
        color: rgb(0, 153, 217);
        text-transform: uppercase;
        font-weight: bold;
      }
      .desc {
        color: #a6a6a6;
        padding-top: 5px;
      }

      .stats {
        display: flex;
        flex-direction: column;
        color: #a6a6a6;

        .fa {
          padding: 5px 0px;
        }
      }

    .glyphicon-user {
      float: left;
    }

     .usr-ico {
      background-image: url('user.png');
      width: 50px;
      height: 51px;
       position: absolute;
     }

    .fa-check {
      position: relative;
      top: 85px;
      left: 20px;
      color: #a6a6a6;
    }

    .vote {
      display: flex;
      flex-direction: column;
      color: #a6a6a6;
      font-weight: bold;

      i {
        padding: 20px;
        font-size: x-large;
      }

      div {
        padding: 0px 22px;
      }

      .upvotes {
        color: green;
        font-weight: bold;
      }

      .downvotes {
        color: red;
        font-weight: bold;
      }
    }
  }

  .template {
    display: none;
  }

  #popup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;

    #form {
      display: flex;
      justify-content: center;
      color: white;
      label, input, textarea, button {
        color: rgb(0, 153, 217);
      }
      select option {
        color: rgb(0, 153, 217);
      }

    }
  }

  .col-xs-4 {
    margin-top: 10px;
    color: white;

    :first-child {
      .panel-body span {
        float: right;
        border: 1px solid white;
        border-radius: 2px;
        background-color: white;
        padding: 0px 10px;
        margin-right: 10px;
        color: rgb(0, 153, 217);
        font-weight: bold;
      }
    }

    :nth-child(2) {
      :nth-child(2) {
        display: flex;
        justify-content: space-around;
        .fa {
          font-size: 40px;
          padding: 10px;
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          span:last-child {
            font-weight: bold;
            padding: 10px;
          }
        }
      }
    }

    :nth-child(3) {
      :nth-child(2) {
        display: flex;
        justify-content: space-around;
        .fa {
          font-size: 40px;
        }
        div {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .panel-heading {
      border: 1px solid rgb(0, 153, 217);
      color: white;
      font-weight: bold;
      line-height: 4;
      display: flex;
      justify-content: space-between;

      i, span {
        padding: 20px;
        color: #4dd2ff;
        font-size: large;
      }
    }

    .panel {
      background-color: rgb(0, 153, 217);


      a {
        color:white;
        text-decoration: none;
      }
    }

    .addTopic {
      color: #a6a6a6;
    }
  }

  footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 153, 217);
    height: 90px;
    color: white;
    a {
      color: white;
    }

    .fter {
      width: 60%;
    }


    hr {
      margin: 0;
      //width: 120%;
    }

    .fter-pt1, .fter-pt2 {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      ul {
        padding: 0;
        li {
          display: inline;
          padding-left: 5px;
          :before {
            content: '• ';
          }
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
}