/*Az 1_2-es feladathoz tartozo css*/

body{
	background-color: #ff8000;
}

table, tr, th, td{
	text-align: center;
	padding: 10px;
	border-spacing: 0px;
}

tr:first-child th:first-child{
	border-top-left-radius: 10px;
}

tr:first-child th:last-child{
	border-top-right-radius: 10px;
}

tr:last-child td:first-child{
	border-bottom-left-radius: 10px;
}

tr:last-child td:last-child{
	border-bottom-right-radius: 10px;
}

th{
	background-color: #0099ff;
	border: 1px solid black;
	border-left: 0px;
}

th:first-child{
	border-left: 1px solid black;
}

td{
	border: 1px solid black;
	border-left: 0px;
	border-top: 0px;
}

td:first-child{
	border-left: 1px solid black;
}

td:hover{
	background-color: #00ff00;
}

caption{
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;
}

p{
	font-size: 20px;
	font-weight: bold;
	color: red;
	padding-left: 15px;
}

.holiday{
	font-weight: bold;
}

#group_1{
	background-color: white;
}

#group_2{
	background-color: red;
}

#all_saints_day{
	color: red;
}