<!DOCTYPE html>
<html lang="en" ng-app="Forumtop">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="style/index.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-controller="first">
    <header>
        <span id="headbar">Simple<b>Forum</b></span>
        <div class="search_login">
            <input type="search" placeholder="Search" id="searchfield">
            <span class="search glyphicon glyphicon-search"></span>
            <nav id="login">Login</nav>
        </div>
        <div class="clearfix"></div>
    </header>
    <button class="button" ng-click="add()">Add Topic</button>
    <div class="popup" ng-show="value">
        <form class="form">
            <input class="method" type="hidden"/>
            <input class="new.numberOfVote" type="hidden"/>
            Topic title:
            <br>
            <input ng-model="new.title" class="panel-title" type="text" name="panel-title">
            Category:
            <br>
            <select ng-model="new.category" class="category" name="category">{{title.category}}
                <option value="general" selected>General</option>
                <option value="food" >Food</option>
                <option value="lifestyle" >Lifestyle</option>
            </select>
            Comments text:
            <br>
            <textarea ng-model="new.brief" class="comments_text">{{title.brief}}</textarea>
            <br>
            <input class="submit" type="submit" value="Send" ng-click="newpost()" ng-class="method">
        </form>
    </div>
    <div id="container_for_everything">
        <div class="comments_container">
            <div ng-repeat="topic in topics">
                <div topic="topic" on-edit="edit" on-delete="delete" on-vote="vote"></div>
            </div>
        </div>
        <div class="other_things_container">
            <div class="categories">
                <div>
                    <h6>Categories</h6>
                    <span class="fa fa-folder"></span>
                </div>
                <div>
                    <p class="right_">General</p>
                    <span class="glyphicon glyphicon-stop"></span>
                    <p class="num">3</p>
                    <p class="right_">Pictures</p>
                    <span class="glyphicon glyphicon-stop"></span>
                    <p class="num">1</p>
                    <p class="right_">Videos</p>
                    <span class="glyphicon glyphicon-stop"></span>
                    <p class="num">2</p>
                </div>
            </div>
            <div class="forum_statistic">
                <h6>Forum Statistics</h6>
                <span class="fa fa-bar-chart"></span>
                <div>
                    <div class="box">
                        <span class="fa fa-comments"></span>
                        <span>Threads</span>
                        <span class="number">6</span>
                    </div>
                    <div class="box">
                        <span class="fa fa-comments-o"></span>
                        <span>Replies</span>
                        <span class="number">6</span>
                    </div>
                    <div class="box">
                        <span class="fa fa-users"></span>
                        <span>Members</span>
                        <span class="number">3</span>
                    </div>
                </div>
            </div>
            <div class="todays_event">
                <h6>Today's Events</h6>
                <span class="fa fa-bullhorn"></span>
                <div class="box2">
                    <div>
                        <span class="fa fa-sign-in"></span>
                        <span id="logins"><br>Logins</span>
                    </div>
                    <div id="admin">
                        <span>admin, moderator, user</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="about">
            <ul>
                <li>About us</li>
                <li>Terms</li>
            </ul>
            <span><i class="fa">&#xf230;&#xf099;</i></span>
        </div>
        <hr/>
        <div class="rights">
            <div> © 2015 SimpleForum - All Rights Reserved</div>
            <div>Forum Time: MYT(Asia/Kuala_Lumpur)</div>
        </div>
    </footer>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="script/index.js" type="text/javascript"></script>
    <script src="script/api.js" type="text/javascript"></script>
    <script src="script/topic.js" type="text/javascript"></script>
</body>
</html>